<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Edit User: </h1>
<form th:method="PATCH" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">New name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="age">New age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <input type="submit" value="Update!"/>
</form>
<h2>Delete user: </h2>
<form th:method="DELETE" th:action="@{/edit/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>