<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <h1>All users</h1>
    <p>Click on the name to edit or delete</p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${usersList}">
            <td th:utext="${user.getId()}"></td>
            <td><a th:href="@{/edit/{id}(id=${user.getId()})}" th:text="${user.getName()}"></a></td>
            <td th:utext="${user.getAge()}"></td>
        </tr>
    </table>
</div>
<br/>
<h2>Create new user</h2>

<form th:method="POST" th:action="@{/index}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>



</body>
</html>